version: '3.8'
services: 
  db: 
    image: postgres:14
    environment:
      POSTGRES_USER: user
      POSTGRES_PW: password
      POSTGRES_DB: personal_blog
    ports: 
      - "5432:5432"
    app:
      build: .
      ports:
       - "3000:3000"
        depends_on:
       - db
      environment:
        DATABASE_URL: postgres://user:password@db:5432/personal_blog
