services:
  api:
    build: .
    restart: always
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_started

  db:
    image: postgres:14
    restart: always
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 10s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio
    restart: always
    env_file:
      - .env
    command: server /data
    volumes:
      - minio:/data

  createbuckets:
    image: minio/mc
    env_file:
      - .env
    depends_on:
      - minio
    restart: 'no'
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set local http://minio:9000 $MINIO_ACCESS_KEY $MINIO_SECRET_KEY &&
      /usr/bin/mc mb local/$BUCKET_NAME --ignore-existing &&
      exit 0;
      "

volumes:
  pgdata:
  minio:
