services:
  db:
    image: postgres:14
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 10s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio
    env_file:
      - .env
    command: server /data
    ports:
      - '9000:9000'
    volumes:
      - minio:/data

  createbuckets:
    image: minio/mc
    env_file:
      - .env
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set local http://minio:9000 $MINIO_ACCESS_KEY $MINIO_SECRET_KEY &&
      /usr/bin/mc mb local/$BUCKET_NAME --ignore-existing &&
      /usr/bin/mc anonymous set download local/$BUCKET_NAME &&
      exit 0;
      "

volumes:
  pgdata:
  minio:
