NODE_ENV=development
PORT=8080
JWT_SECRET=secret

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=blog_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

MINIO_PUBLIC_URL=http://localhost:9000
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
BUCKET_NAME=blog-images

ORIGIN=http://localhost:3000
