POSTGRES_DB=blog_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
NODE_ENV=development
PORT=3000
JWT_SECRET=deeznuts
FRONTEND_URL=

# MinIO Configuration
ENDPOINT=localhost
ACCESS_KEY=dan1xk
SECRET_KEY=mypasswordrighthere
BUCKET_NAME=blog-images
MINIO_PUBLIC_URL=http://localhost:9000
